body {
  background: #b0fffb;
  color: black;
  padding: 20px;
}

.task {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task li {
  display: inline-block;
}

.task-href {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 50px;
  transition: all 0.3s ease;
  font-size: 26px;
  display: block;
  margin: 10px;
}

.task-href:hover {
    background: #28beb7;
}